@value small as bp-small, large as bp-large, medium as bp-medium, iphone5 as bp-iphone5 as from "./breakpoints.css";

.menuHeader{
    position: fixed;
    width: 100%;
    opacity: 1.0;
    height: 100px;
    /*height: 55%;*/
    z-index: 100;
    margin: auto;
    display: block;
}
.logo {
    /*background-color: blue;*/
    margin: auto;
    height:  100%;
    /*margin-left: 10%;*/
    font-size: 4vmin;
    font-weight: bold;
}
.text{
    display: inline-block;
    margin: auto;
    height: 100%;
    position: fixed;
    /*width: 80%;*/
    /*background-color: red;*/
  top: 50%;
  transform: translateY(-70%);
}
.logoImage{
    /*background-color: yellow;*/
    /*display: inline-block;*/
    margin: auto;
    width: 80%;
    height: 100%;
    max-width:100%;
    max-height:100%;
    /*vertical-align: middle;*/
}
img {
    /*background-color: green;*/
    /*width: 10%;*/
    /*width:100%;*/
    max-height:100%;
    max-width: 100%;
    /*vertical-align: middle;*/
}

@media bp-iphone5 {
    .menuHeader{
        height: 150px;
    }
}
@media only screen and (min-device-width: 1024px){
    .caption {
    ￼    background-attachment: fixed;
    }
}
