.kafkaQuote {
  width: 100%;
  text-align: center;
  vertical-align: top;
  display: block;
  margin: auto;
}

 .kafkaQuote quote {
    -webkit-text-size-adjust: 200%;
    font-size: 200%;
    color: white;
    text-align: center;
    font-style: italic;
    background: rgba(65, 65, 65, 0.5);
}
