@value small as bp-small, large as bp-large, medium as bp-medium, iphone5 as bp-iphone5 as from "./breakpoints.css";

h2{
    width: 100%;
    text-align: center;
}

  .projectDetailPage {
      padding-top: 120px;
      /*margin-left: 20px;
      margin-right: 20px;*/
      margin: auto;
      margin-bottom: 50px;
      background-color: #ecf1f2;
  }
  .projectDesc, .projectFocus , .projectInitiated{
      padding: 0px 20px;
  }
  .projectsMain {
      display: inline-block;
      /*margin-bottom: 0px;*/
      background-color: #ecf1f2;
  }
  .projectsMain h3{
      text-align: center;
  }

  .navigationBlock{
      display: inline-block;
      padding-top: 50px;
      width: 100%;
  }
.detailNext{
      background-color: grey;
      color: white;
      text-decoration: none;
      float: right;
  }
  .detailNext:after{
      content: "\21D2";
      margin-left: 6px;
  }
  .detailPrev{
      background-color: grey;
      text-decoration: none;
      color: white;
      float: left;
  }
  .detailPrev:before{
      content: "\21D0";
      margin-right: 6px;
  }


  .timelineBlock{
    width: 100%;
    display: inline-block;
  }
  .timelineBlockContent{
    width: 90%;
    display: inline-block;
    border-radius: '15px';
  }
.timelineBlockSide{
    text-align: center;
  width: 50%;
}


@media bp-iphone5 {
        .timelineBlockContent{
            width: 100%;
            font-size: 5vmin;
        }
        .timelineBlockSide{
            width: 100%;
            float: left;
        }

}
