@value small as bp-small, large as bp-large, medium as bp-medium, iphone5 as bp-iphone5, iphone6 as bp-iphone6  from "./breakpoints.css";

@value headFont: 'Patua One', sans-serif;
@value bodyFont: 'Open Sans', serif;
/*@value bodyFont: 'Inika', serif;*/
@value bodySize: 16px;
@value bodyWeight: 600;
@value textFont: 16px 'Open Sans', serif;

.teamMain {
    display: inline-block;
    background-color: #ecf1f2;
    font-family: bodyFont;

    /*background-color: blue;*/
    width: 100%;
}
.teamMain h3, h1{
    text-align: center;
    width: 100%;
}
.navigationBlock{
    /*background-color: red;*/
    height: 30px;
    display: inline-block;
    display: block;
    font: textFont;
    width: 100%;
}
.detailNext{
    background-color: grey;
    color: white;
    text-decoration: none;
    font-size: 3vmin;
    float: right;
}
.detailNext:after{
    content: "\21D2";
    margin-left: 6px;
}
.detailPrev{
    background-color: grey;
    text-decoration: none;
    font-size: 3vmin;
    color: white;
    float: left;
}
.detailPrev:before{
    content: "\21D0";
    margin-right: 6px;
}

.teamDetailPhoto {
    width: 100%;
    margin-top: 150px;
    /*background-color: red;*/
    align-content: center;
}
.teamDetailPhoto img{
    max-width: 400px;
    border-radius: 5%;
    display:block;
   margin:auto;
}
.teamDetailText {
    width: 80%;
    margin: 0 auto;   
}

.thumbnailBlock {
    /*background-color: green;*/
    margin: 0px 35px 20px 0px;
    width: 160px;
    height: 160px;
    float: left;
}
.thumbnailBlock a {
    text-decoration: none;
}
.thumbnailBlock img {
    display: inline-block;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    /*background-color: blue;*/
}
.thumbnailBlock .labelblock{
 /*background-color: blue;*/
  position: relative;
  margin: auto;
  text-align: center;;
  color: black;
  margin-top: -90px;
  /*margin-top: -90px;*/
  border-radius: 25%;

  width: 160px;
}
.label {
    color: black;
}
.labelH {
    color: white;
}

@media bp-iphone5 {
    .thumbnailBlock {
        margin: 0px 35px 35px 0px;
        width: 100%;
        height: 800px;
        /*background-color: blue;*/
        align-content: center;
        float: left;
    }
    .thumbnailBlock .labelblock {
        width: 75%;
        margin-top: -290px;
        font-size: 4em;
    }
    .thumbnailBlock img {
        width: 100%;
        height: 100%;
    }
    p, h3{
      font-size: 4vmin;
    }
    li{
      font-size: 3vmin;
    }
    h2{
      font-size: 8vmin;
    }

}
@media bp-iphone6{
    p, h3{
      font-size: 4vmin;
    }
    li{
      font-size: 3vmin;
    }
    h2{
      font-size: 8vmin;
    }
}
